.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.form,
div>form {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 350px;
    width: 560px;

    margin: 15% auto;

    background-color: rgba(240, 248, 255, 0.76);
    border-radius: 8px;
    
    box-shadow: 0 4px 10px #ccc;
}

.form .input-container,
.form>div,
div>form .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    height: 100%;
    width: 280px;
}

.form label input,
div>form label input {
    height: 35px;
    width: 100%;

    background-color: #fff;
    border: .5px #ccc solid;
    border-radius: 5px;
}

.form button,
div>form button {
    height: 35px;
    width: 100%;
    background-color: rgba(0, 26, 255, 0.727);

    border: none;
    border: .5px #ccc solid;
    border-radius: 5px;

    text-transform: uppercase;
    color: #fff;
    font-weight: 600;

    margin: 10px 0;
}

.form button:hover,
div>form button:hover {
    opacity: 90%;
    cursor: pointer;
}