<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Desk - Cadastro</title>
    <link rel="stylesheet" href="../style/form.css">
    <link rel="stylesheet" href="../style/common.css">
    <script src="../scripts/index.js"></script>
</head>

<body>

    <div class="container">
        <form onsubmit="handleSubmit(event)" class="form">
            <div class="input-container">
                <h1>Cadastro</h1>
                <label for="name">
                    <input name="name" placeholder="Nome Completo">
                </label>
                <label for="email">
                    <input type="email" placeholder="Email">
                </label>
                <label for="psw">
                    <input type="password" id="password" placeholder="Senha">
                </label>

                <button onclick="signUp(event)">Cadastrar</button>
                <a href="./login.html">Logar-se</a>
            </div>
        </form>
    </div>
</body>

</html>